.site-footer {
	background: $footer--bg;
	padding: ($global-padding * 2) 0 ($global-padding * 3);
	text-align: center;

	@media(min-width: $screen-sm) {
		text-align: left;
	}

	a {
		color: $footer--text-color;
		&:hover {
			color:$link-color;
		}
	}

	h3, .widget-title {
		color:#fff;
		font-size: $font-size-h4;
	}

	ul.menu {
		padding:0px;
		list-style: none;

		a {
			display: block;
		}

		li.current-menu-item a {
			color: $link-color;
		}
	}
	
}

.site-info {
	border-top: 1px solid lighten($footer--bg, 10%);
	padding-top: $global-padding;
	margin-top: $global-padding;
	font-size: $font-size-small;

	a {
		color:$footer--text-color;
	}
}