/*==================================
* Main
*==================================*/
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*==================================
* Links
*==================================*/
a:hover, 
a:focus, 
a:active {
	outline: none;
}

a:hover:focus, 
input:hover:focus {
	outline: none;
}

a {
  @include transition(0.3s);
  i {
    @include transition(0.3s);
  }
}

