// Global third party overwrite
$fa-font-path: "./fonts/FontAwesome";

$mobile--gutter-width: 30px !default;

//
// Layout
// --------------------------------------------------
// When the menu breaks down to mobile menu
$menu-breakpoint: 768px !default;

//
// Colors
// --------------------------------------------------
$gray-base:					#000000 !default;
$gray-darker:				lighten($gray-base, 15%) !default; // #252525
$gray-dark:					lighten($gray-base, 20%) !default; // #333333
$gray:						lighten($gray-base, 55%) !default; // #a6a6a6
$gray-light:				lighten($gray-base, 94%) !default; // #efefef
$gray-lighter:				lighten($gray-base, 98%) !default; // #f9f9f9

$body-bg:               	#fff !default;

$brand-primary:         	#1c1e26 !default;
$brand-secondary:           #00c1af !default;
$text-color:				#acb4b8 !default;
$headings-color:			#1c1e26 !default;

$link-color:            	$brand-secondary !default;
$link-hover-color:      	darken($link-color, 15%) !default;
$link-hover-decoration: 	none !default;

//
// Typography
// --------------------------------------------------
$font-size-base:          16px !default;
$font-size-large:         18px !default;
$font-size-small:         14px !default;

$font-size-h1:            54px !default;
$font-size-h2:            36px !default;
$font-size-h3:            24px !default;
$font-size-h4:            16px !default;
$font-size-h5:            $font-size-small !default;
$font-size-h6:            $font-size-small !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.6 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;


//
// VC Padding
// --------------------------------------------------
$vc--element-padding: 35px !default;

//
// Off Canvas
// --------------------------------------------------
$offcanvas--bg-color: $brand-primary !default;
$offcanvas--width: 320px !default;
$offcanvas-menu-item--padding-left: 20px !default;
$offcanvas-menu-item--border-color: lighten($offcanvas--bg-color, 10%) !default;


//
// Site Header
// --------------------------------------------------
$header--bg-color: #fff !default;
$header--logo-max-height: 15px !default;
$header--menu-break-point: 120px !default;

//
// Desktop Menu
// --------------------------------------------------

$desktop-nav--font-size: $font-size-large !default;
$desktop-nav--link-color: $link-color !default;
$desktop-nav--link-hover-color: $link-hover-color !default;

//
// Mobile Menu 
// --------------------------------------------------

$mobile-nav--link-color: $desktop-nav--link-color !default;
$mobile-nav--link-hover-color: $desktop-nav--link-hover-color !default;

//
// Mobile Menu Toggle
// --------------------------------------------------

$menu-toggle--bg-color: #f0f0f0 !default;
$menu-toggle--hamburger-color: #222 !default;
$menu-toggle--cross-color: $brand-primary !default;

//
// Page Featured Header
// --------------------------------------------------
$featured-header--height: 200px !default;
$featured-header--height-desktop: 400px !default;
$featured-header--title-color: $brand-primary !default;
$featured-header--bg-color: $gray-light !default;

$featured-header-image--title-color: #fff !default;
$featured-header-image--overlay-color: $brand-primary !default;
$featured-header-image--overlay-opacity: 0.85 !default;

//
// Footer
// --------------------------------------------------
$footer--bg:  				$brand-primary !default;
$footer--text-color:  		$text-color !default;



//
// Global Margin & Padding
// --------------------------------------------------
$global-margin:       	$line-height-computed !default;
$global-padding:      	$line-height-computed !default;



//
// Components
// --------------------------------------------------
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        1px !default;
$border-radius-large:       1px !default;
$border-radius-small:       1px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



//
// Buttons
// --------------------------------------------------
$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;



//
// Boostrap Forms
// --------------------------------------------------
//** `<input>` background color
$input-bg:                       #fff !default;
////** Text color for `<input>`s
$input-color:                    $gray !default;
////** `<input>` border color
$input-border:                   #ccc !default;

// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            $border-radius-base !default;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:             $headings-color !default;

//** Placeholder text color
$input-color-placeholder:        #999 !default;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;

//
// Tables
// --------------------------------------------------
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//
// Login Screen
// --------------------------------------------------
$login-screen--body-bg: #1c1e26 !default;
$login-screen--logo-path: '../images/logo.png' !default;
$login-screen--logo-height: 32px !default;
$login-screen--input-bg: $input-bg !default;
$login-screen--input-border: 1px solid $input-border !default;
$login-screen--input-color: $input-color !default;

//
// Shop panel
// --------------------------------------------------
$shop-panel--md-width: 400px !default;
$shop-panel--bg-color: #FFF !default;
$shop-panel--header--bg-color: #f9f9f9 !default;
$shop-panel--footer--bg-color: #f9f9f9 !default;
$shop-panel--thumbnail--bg-color: transparent !default;
$shop-panel-overlay--bg: rgba(23, 25, 27, 0.7) !default;
$shop-panel-total--border-bg: rgba(97,97,97,0.2) !default;