
.RFPostList.Blog {
    display: flex;
    justify-content: space-between;
    .RFPostList__item {
        width: 31%;

        h3 {
            color: $secondary-color;
            font-size: 28px;
            margin: 15px 0;
        }

        .btn {
            background: transparent;
            border: 2px solid $primary-color;
            color: $primary-color;

        }
    } 
}