.btn {
  background: $primary-color;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 25px;
  transition: 0.3s;
  box-shadow: none;
  border-radius: 0px;
  letter-spacing: 2px;
  width: 100%;
  font-family: 'nexa_boldregular';

  &:hover {
    background: #62c84d;
    color: #fff;
  }
}











.download {
  background: #e6eed1;
  text-align: center;
  a {
    display: inline-block;
    padding: 20px;
  }
}