
.accreditations {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 30px !important;
	padding-bottom: 30px !important;
	padding-left: 40px;
	padding-right: 40px; 
	/*border-bottom: 2px solid #d1d2d4;*/

	.widget {
		padding: 15px;
		max-width: 100px;
	}
}



.site-footer ul.menu li.current-menu-item a {
    color: #fff;
}

.site-footer {
    background: /*url(images/HS_Course_header_logos.png) no-repeat right center*/ rgb(149,193,31,1) !important;
  background: /*url(images/HS_Course_header_logos.png) no-repeat right center, */linear-gradient(90deg, rgba(65,173,73,1) 0%, rgba(149,193,31,1) 100%) !important;
  color: #000;
  padding: 30px 0;
  font-size: 16px;
  line-height: 2em;
  	.container {
	  display: flex;
	  justify-content: space-between;
	  padding: 0;
	}

	a {
		color: #fff;
		font-size: 14px;
	}



	a:hover {
		color: $secondary-color;
	}

	.footer-1 {
		font-size: 13px;

		img {
			margin-top: -70px;
			max-width: 100px !important;
			height: auto !important;
		}
	}

	.footer-2 {
		font-size: 13px;
	}

	.footer-4 {
		input {
			text-align: center;
			padding: 10px 25px;
			margin-bottom: 7px;
			line-height: 1.3em;
		}
		.btn {
			background: $secondary-color;
		}
		div.wpcf7 .ajax-loader {
			position: absolute;
		}
		.wpcf7-response-output {
			background: #fff;
		}
	}

  	a {
		  color: #fff;
		  font-weight: bold;
		  font-family: 'nexa_boldregular';
	  }

	h4.widget-title {
	  font-size: 14px;
	  color: $secondary-color;
	  text-transform: uppercase;
	  font-family: 'nexa_boldregular';
	}

	li {
  		border: none !important;
	}


    .social-icons {
		display: flex;
		.social-platform {
		  margin-right: 15px;
		  font-size: 25px;
		}
	  }

}




