
.site-header {
  background: #fff;
  z-index: 2; 

  a:hover {
    color: $secondary-color;
  }

  .header-top {
    border-bottom: 2px solid #d1d2d4;
    padding: 10px 0;
    font-weight: bold;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:before, &:after {
        display: none;
      }
    }

    .social-icons {
      display: flex;
      .social-platform {
        margin-right: 15px;
        font-size: 25px;
      }
    }

    .widget_text {
      display: flex;

      a {
        margin-left: 20px;
        font-size: 17px;
      }
    }

  }
 

  .header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &:before, &:after {
      display: none;
    }

  }
 
  .site-branding {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    img {
      max-height: 70px;
    } 
}

  .header-right { 
    display: flex;
    justify-content: space-around;
    align-items: center;  

    .widget {
      margin-left: 20px;
      padding-bottom: 0;
    }

    button {
      margin-left: 20px !important;
      position: static !important;
    }

    .btn {  
      background: #fff !important;
      color: #f9cb1f !important;
      &:hover {
        background: #f9cb1f !important;
        color: #fff;
      }
    }

    .fal, .far {
      color: #18A5B4;
      font-size: 18px;
      vertical-align: middle;
    }  

  }


} 

#primary-menu a {
  color: $secondary-color;
  text-transform: uppercase;
  padding: 0 0 0 25px;
  font-size: 15px;
  font-weight: bold;
}






