.content-row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-row.narrow {
  padding-top: 50px;
  padding-bottom: 50px;
}

img.left {
  margin-right: 30px;
}

img.right {
  margin-left: 30px;
}

.banner {
  background: url(images/HS_Course_header_logos.png) no-repeat right center rgb(149,193,31,1) !important;
  background: url(images/HS_Course_header_logos.png) no-repeat right center, linear-gradient(90deg, rgba(65,173,73,1) 0%, rgba(149,193,31,1) 100%) !important;
  background-size: 60%, cover !important;
  padding: 40px 0;

  h1, h2 {
    color: #fff;
    margin-top: 0;
  }
}

