.content-row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-row.narrow {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-row.green {
  background: $primary-color;
  background: linear-gradient(90deg, #41ad49 0%, #95c11f 100%) !important;
  color: #fff;
}

.content-row.blue {
  background: $secondary-color;
  color: #fff;
}

.green-box {
  background: $primary-color;
  color: #fff;
  padding: 20px !important;

  * {
    color: #fff;
  }
  ul.ticks li:before {
    color: #fff;
  }
  .wpb_text_column strong {
    color: #fff;
  }
}

img.left {
  margin-right: 30px;
}

img.right {
  margin-left: 30px;
}

.banner {
  background: url(images/HS_Course_header_logos.png) no-repeat right center rgb(149,193,31,1) !important;
  background: url(images/HS_Course_header_logos.png) no-repeat right center, linear-gradient(90deg, rgba(65,173,73,1) 0%, rgba(149,193,31,1) 100%) !important;
  background-size: 60%, cover !important;
  padding: 40px 0;

  h1, h2 {
    color: #fff;
    margin-top: 0;
  }
}


.page-id-524 .banner {
  background-size: 50%, cover !important;
}


.bg-image-row {
  height: 400px;
}

/*.flex-5col {
  ul.ticks {
    display: flex;
    li {
      width: 20%;
    }
  }
}*/


.cta {
  background: rgb(149,193,31,1) !important;
  background: linear-gradient(90deg, rgba(65,173,73,1) 0%, rgba(149,193,31,1) 100%) !important;
  padding: 40px;
  color: #fff;

  a {
    color: #fff !important;
  }

  strong {
    color: #fff !important;
  }

  .wpb_text_column {
    margin-bottom: 0;
  }

  h4 {
    color: #fff;
    margin: 0;
  }
}

.circle {
  background: linear-gradient(90deg, rgba(65,173,73,1) 0%, rgba(149,193,31,1) 100%);
  border-radius: 100%;
  overflow: hidden;
  img {
      padding: 15px;    
      border-radius: 100%;
  }
}

.package-box {
  /*background: $secondary-color;*/
  border: 7px solid $primary-color;
  padding: 40px;
  /*border-radius: 100%;*/

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
  }
  h4 {
    margin-bottom: 0;
  }

  /* {
    color: #fff;
  }*/
}