rs-slides h1, rs-slides h2 {
  font-size: 90px !important;
  text-transform: uppercase !important;
  line-height: 4rem !important;
  letter-spacing: 10px !important;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  color: #fff !important;
}

rs-slides h1 span, rs-slides h2 span {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 50px !important;
  text-transform: none !important;
  letter-spacing: 0px !important;
  font-weight: 500;
  color: #fff !important;
}

rs-slides p {
  font-size: 25px;
  font-weight: 700 !important;
  line-height: 1.5em !important;
}
rs-slides .btn {
  font-size: 18px;
  padding: 10px 20px;
}










