

body {
  font-size: 17px !important;
  font-family: 'nexa_lightregular';
  color: #000;
    @media(max-width: 480px) {
      font-size: 14px !important; 
    }
  }
 
  .home h2 {
    margin-top: 0; 
  }

  a {
    color: $primary-color;
  }

 

  h1, h2 {
    font-family: 'nexa_lightregular';
    strong {
      font-family: 'nexa_boldregular';
    }
  }

  h3, h4 {
    font-family: 'nexa_boldregular';
  }

  h1 {
    font-size: 50px;
    margin-bottom: 0 !important;
    font-weight: bold;
    color: $primary-color;
    @media(max-width: 480px) {
      font-size: 30px; 
    }
  }
  h2 {
    font-size: 50px;
    font-weight: bold;
    color: $primary-color;
    @media(max-width: 480px) {
      font-size: 30px; 
    }
  }
  h3 {
    font-size: 38px;
    margin-bottom: 50px;
    color: $primary-color;
    font-weight: bold;
    @media(max-width: 480px) {
      font-size: 25px; 
    }
  }
  h4 {
    font-size: 20px !important;
    line-height: 1.5em;
    color: $secondary-color;
    @media(max-width: 480px) {
      font-size: 15px !important; 
    }
  }    
  .large-text {
    font-size: 20px;
    @media(max-width: 480px) {
      font-size: 16px;
    }

    ul.ticks {
      padding-left: 3em;
      li {
      padding-top: 20px;
      padding-bottom: 20px;
        &:before {
          font-size: 30px;
          margin-left: -2em;
          @media(max-width: 480px) {
            font-size: 20px;
            margin-left: -1.5em;
          }
        }
     }
    }

  }  

  .search-results h2 {
    font-size: 30px;
    margin-top: 0;
  }

  ul.ticks {
    margin-left: 0em;
    margin-bottom: 20px;
  }
  ul.ticks li {
    list-style: none;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

  }
  ul.ticks li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -2em;
    color: #89ca39;
    font-size:18px; 
  }  



  .wpb_text_column strong {
    font-family: 'nexa_boldregular';
    color: $primary-color;
  }


.intro-text {
  font-size: 120%;
  font-family: 'nexa_boldregular';
  color: $primary-color;
}



.content-row.green {
  
  .intro-text {
    color: #fff;
  }
}



a {
  
  &:hover, &:focus, &:active {
    color: $secondary-color;
  }
}


@font-face {
  font-family: 'nexa_boldregular';
  src: url('fonts/nexa-bold-webfont.woff2') format('woff2'),
       url('fonts/nexa-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'nexa_lightregular';
  src: url('fonts/nexa-light-webfont.woff2') format('woff2'),
       url('fonts/nexa-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

