// Write your parent and bootstrap overwrites here

// Menu mobile breakpoint width

$menu-breakpoint: 992px;

//
// Login Screen
// --------------------------------------------------
$login-screen--body-bg: #fff;
$login-screen--logo-path: '../images/hsts-logo.jpg';
$login-screen--logo-height: 70px;

$primary-color: #4baa44;
$secondary-color: #262262;