// Write your parent and bootstrap overwrites here

// Menu mobile breakpoint width

$menu-breakpoint: 992px;

//
// Login Screen
// --------------------------------------------------
//$login-screen--body-bg: #1c1e26;
//$login-screen--logo-path: '../images/logo.png';
//$login-screen--logo-height: 32px;

$primary-color: #4baa44;
$secondary-color: #262262;