<div class="rf-menu-settings">
	<div class="menu-settings-header">
        <h3><%- title %></h3>
        <a href="#" class="menu-settings-close">x</a>		
	</div>
    <div class="menu-settings-body">
        <div class="menu-settings-sidebar">
            <ul>
                <li class="active"><a href="#">Items</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="menu-settings-content">
            <div class="menu-settings-bar">
                <select name="num_columns" id="">
                    <option value="1">1 Column</option>
                    <option value="2">2 Columns</option>
                    <option value="3">3 Columns</option>
                    <option value="4">4 Columns</option>
                    <option value="6">6 Columns</option>
                </select>
            </div>
            <div class="widgets"></div>
        </div>
    </div>
</div>