.btn {
  background: #89CA39 !important;
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px 25px !important;
  box-shadow: none !important;
  transition: 0.3s !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 5px !important;
  letter-spacing: 2px;
  font-weight: 600 !important;
  width: 100%;

  &:hover {
    background: #62c84d !important;
    color: #fff !important;
  }
}











